/* This is the syntax for a CSS comment. */

/* Typically you put all of your general element styles at the top. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px
}    

body {
    background-color: #ffffff;
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 24px;
}

p {
    margin-bottom: 16px;
}    

header {
    background-color: #ffffff;
    color: #ffffff;
    height: 150px;
}    

header img {
    float: left;
    padding: 0px; /* TRouBLe */
    margin-right: 50px;
}
    
header nav {
    float: left;
    margin-top: 60px;    
}

header a {
    color: #000000;
    margin-right: 50px;
    text-decoration: none;
}

header a:link {}
header a:visited {}
header a:hover {
    color: #cccccc;          
} 
header a:active {
    text-decoration: underline;
}

header a:focus {}

article {
    clear: both;
    padding 0 10px 0px 10px;
}    

article h1 {
	color: #111111;
    font-family: georgia, serif;
    font-size: 36px;
    line-height: 44px
}

aside h2 {
    color: #111111;
    font-family: georgia, serif;
    line-height: 44px
}

footer {
    color: #000000;
    padding: 0 10px 0 10px;
}

h2 {

}

p {

}

img {

}


/* Container or module styles probably come next. */

header {

}

nav {

}

nav a {

}

section {

}



/* Class and ID styles come last because they are the most specific. */

#copyright {

}